.netrc
.DS_Store
*.mtar
*.log
.che/
.classpath
.mta/
.project
srv/.settings/.jsdt*
srv/.settings/org.eclipse.m2e.*
srv/.settings/org.eclipse.wst.*
.xmake/
srv/src/main/resources/edmx/
gen/
imports/
node/
node_modules/
target/
_out/
dist/
.DS_Store
connection.properties
metadata.xml
.cds_gen.log
default-env.json
